* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

.imagesDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}